body {
  background: rgb(2, 94, 86);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(0, 95, 124), rgb(0, 51, 75));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(1, 76, 78), rgb(16, 55, 92)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

